nav {
  display: flex;
  align-items: center;
  background-color: #c7a17a;
  height: 110px;
  width: 1500px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.imagen-cafe img {
  max-width: 100px;
  margin-left: 34px;
}

.barra-navegacion {
  width: 100%;
}

#titulo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#titulo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 260%);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.capa-blanca {
  position: absolute;
  top: 30%;
  left: 34.5%;
  width: 32%;
  height: 20%;
  background-color: #f2f2f275;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  position: relative;
  margin-left: 130px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: none;
  font-size: 1.3em;
  font-family: fantasy;
  cursor: pointer;
}
a:hover {
  color:black;
  transition: color 0,7s ease-out;

}

.recuadro-grande {
  background: url(cubierta-de-madera-vieja-alargada-75138158.jpg) repeat-x;
  height: 1418px;
  margin-left: 10px;
  margin-right: 20px;
  width: 1500px;
}

li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

li ul li {
  display: block;
  background-color: rgb(109, 55, 14);
  margin: 0;
  padding: 0;
}

li ul li a {
  display: block;
  padding: 10px;
  font-size: 1em;
  color: white;
}


li:hover > ul {
  display: block;
  animation: slideDown 0.5s;
  position: absolute;
  top: 100%;
  left: 0;
}


@keyframes slideDown {
  0% {transform: translateY(1px);
    opacity: 0;
  }
  100% {transform: translateY(0px);
    opacity: 1;
  }
} 


.recuadro {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.recuadro {
  animation-duration: 2s;
  animation-name: aparecer-izquierda;
}

@keyframes aparecer-izquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
thead th {
  font-weight: bold;
  background-color: #eeee;
  padding: 10px;
}
tbody td {
  text-align: center;
  padding: 10px;
}

table {
  animation-duration: 5s;
  animation-name: aparecer;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Derechos {
  background-color: #c7a17a;
  height: 60px;
  margin-left: 10px;
  width: 1500px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: Arial, sans-serif;
  display:flex; 
  align-items: center;
  gap: 220px;
} 
